<div class="container col-12">
    <div class="col-12 row">
        <div class="col-12 align-items-center title">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
    </div>
    <div class="col-12 row graph">
        <div class="col-2"></div>
        <div class="col-8 row">
            <div class="col-3">
                <img src="../../assets/donut.png" style="width: 50%;" alt="">
                <h4>TBS 2018</h4>

            </div>
            <div class="col-3">
                <img src="../../assets/donut.png" style="width: 50%;" alt="">
                <h4>Taux de réussites BAC 2018</h4>
            </div>
            <div class="col-3">
                <img src="../../assets/donut.png" style="width: 50%;" alt="">
                <h4>Taux de chômages niveau BAC</h4>
            </div>
            <div class="col-3">
                <img src="../../assets/donut.png" style="width: 50%;" alt="">
                <h4>Taux d'alphabétisations</h4>
            </div>
        </div>
    </div>
</div>
<div class="col-12 detail">
    <div class="col-12 row item">
        <div class="col-4">
            <h4>Investissement de l'Etat</h4>
            <p>1 000 000 000</p>
        </div>
        <div class="col-4">
            <h4>Coût moyen de formation</h4>
            <p>650 000</p>

        </div>
        <div class="col-4">
            <h4>Evaluation des dépenses</h4>
            <p>25 000 000 000</p>

        </div>
    </div>
</div>