<table class="ui table">
    <thead>
        <tr>
            <h3>Acquisition </h3>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="">Source</td>
            <td data-label="">Visits</td>
            <td data-label="">Pages</td>
            <td data-label="">Time</td>
            <td data-label="">New Visit</td>
            <td data-label="">Bounce</td>
        </tr>
        <tr>
            <td data-label="">New Visit</td>
            <td data-label="">Jill</td>
            <td data-label="">26</td>
            <td data-label="">Engineer</td>
            <td data-label="">Jill</td>
            <td data-label="">26</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
    </tbody>
</table>
<table class="ui table">
    <thead>
        <tr>
            <h3>Acquisition </h3>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="">Source</td>
            <td data-label="">Visits</td>
            <td data-label="">Pages</td>
            <td data-label="">Time</td>
            <td data-label="">New Visit</td>
            <td data-label="">Bounce</td>
        </tr>
        <tr>
            <td data-label="">New Visit</td>
            <td data-label="">Jill</td>
            <td data-label="">26</td>
            <td data-label="">Engineer</td>
            <td data-label="">Jill</td>
            <td data-label="">26</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
    </tbody>
</table>
<table class="ui table">
    <thead>
        <tr>
            <h3>Acquisition </h3>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="">Source</td>
            <td data-label="">Visits</td>
            <td data-label="">Pages</td>
            <td data-label="">Time</td>
            <td data-label="">New Visit</td>
            <td data-label="">Bounce</td>
        </tr>
        <tr>
            <td data-label="">New Visit</td>
            <td data-label="">Jill</td>
            <td data-label="">26</td>
            <td data-label="">Engineer</td>
            <td data-label="">Jill</td>
            <td data-label="">26</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
        <tr>
            <td data-label="">Bounce</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
            <td data-label="">Designer</td>
            <td data-label="">Elyse</td>
            <td data-label="">24</td>
        </tr>
    </tbody>
</table>