<div class="ui grid">
    <div class="three column row">
        <div class="five wide column">
            <h4>Effectif total apprenants</h4>
            <p>12 000</p>
        </div>
        <div class="five wide column">
            <h4>Effectif étude supérieur</h4>
            <p>3 000</p>
        </div>
        <div class="five wide column">
            <h4>Effectif secondaire</h4>
            <p>2 500</p>
        </div>
    </div>
    <div class="three column row">
        <div class="five wide column">
            <h4>Moyen</h4>
            <p>3 200</p>
        </div>
        <div class="five wide column">
            <h4>Effectif élementaire</h4>
            <p>3 000</p>
        </div>
        <div class="five wide column">
            <h4>Effectif préscolaire</h4>
            <p>2 500</p>
        </div>
    </div>

</div>
<div id="chart_div"></div>
<div class="col-12 row">
    <div class="col-6">
        <div id="donutchart"></div>
    </div>
    <div class="col-6">
        <div id="donutchart2"></div>
    </div>
</div>