<div class="ui segments">
    <div class="ui segment header">
        <p>Education</p>
    </div>
    <div class="ui segment">
        <a href="article">Garderie</a>
    </div>
    <div class="ui segment">
        <a href="detail"> Préscolaire</a>
    </div>
    <div class="ui segment">
        <a href="graphic">Primaire</a>
    </div>
    <div class="ui segment">
        <a href="maps">Moyen</a>
    </div>
    <div class="ui segment">
        <a href="table">Secondaire</a>
    </div>
    <div class="ui segment">
        <a href="">Elémentaire</a>
    </div>
</div>