<div id="chart_div"></div>
<div class="ui sizer vertical segment">
    <div class="ui tiny header">Lorem Ipsum</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, numquam? Ullam consequuntur suscipit sunt deleniti ad dignissimos maiores autem numquam eius labore nisi modi eveniet quae, tempora doloribus, magni voluptas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quibusdam laboriosam vero inventore aspernatur, velit aliquam, ipsa accusantium atque neque porro ab adipisci minima architecto delectus sed, doloribus fugit dignissimos?Repellendus sed
        exercitationem quis assumenda adipisci magnam quidem possimus consectetur pariatur magni, saepe illo provident numquam vero iusto sunt, obcaecati qui! Quae, quibusdam magni. Unde voluptatem totam at laborum libero.</p>
</div>
<div class="row">
    <div class="col-5">
        <div id="chart2_div"></div>
    </div>
    <div class="col-5">
        <div id="piechart" style="width: 400px; height: 500px;"></div>
    </div>
</div>
<div class="ui sizer vertical segment">
    <div class="ui tiny header">Lorem Ipsum</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, numquam? Ullam consequuntur suscipit sunt deleniti ad dignissimos maiores autem numquam eius labore nisi modi eveniet quae, tempora doloribus, magni voluptas?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quibusdam laboriosam vero inventore aspernatur, velit aliquam, ipsa accusantium atque neque porro ab adipisci minima architecto delectus sed, doloribus fugit dignissimos?Repellendus sed
        exercitationem quis assumenda adipisci magnam quidem possimus consectetur pariatur magni, saepe illo provident numquam vero iusto sunt, obcaecati qui! Quae, quibusdam magni. Unde voluptatem totam at laborum libero.</p>
</div>